In [2]:
from langchain.chat_models import ChatOpenAI
import os
from dotenv import load_dotenv
import pandas as pd

In [3]:
load_dotenv()

openai_key=os.getenv("OPENAI_API_KEY")
llm=ChatOpenAI(model="gpt-4o-mini",temperature=0)

from langchain_openai import OpenAIEmbeddings

embeddings = OpenAIEmbeddings(
    model="text-embedding-ada-002",
    api_key=openai_key
)

C:\Users\muaaz\AppData\Local\Temp\ipykernel_21152\2819571407.py:4: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  llm=ChatOpenAI(model="gpt-4o-mini",temperature=0)

In [56]:
data=pd.read_csv("idmanual.csv")
data.shape

C:\Users\muaaz\AppData\Local\Temp\ipykernel_1816\4156294302.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("idmanual.csv")

(68719, 9)

In [40]:
data.head()

,Term ID,Class,Description,Status,Effective Date,Type,Notes,TM5,NCL Version
0,010-859,10,Nebulizer for administering medication in the ...,M,06/04/2015,GOODS,"On 06-04-2015, this 08-07-2008 entry was amend...",NaN,"""10-2015"""
1,024-65,24,Brocade,A,04/02/1991,GOODS,06-04-2015: Brocade is a fabric woven with an ...,NaN,"""07-1997"""
2,024-85,24,Cheviot fabric,A,04/02/1991,GOODS,06-04-2015: Cheviot fabric is a coarse woolen ...,NaN,"""07-1997"""
3,024-152,24,Duvets,A,04/02/1991,GOODS,"06-04-2015: A duvet is a type of quilt, usuall...",T,"""07-1997"""
4,024-1326,24,Unfitted fabric covers for vehicle seats,A,06/04/2015,GOODS,NaN,NaN,"""10-2015"""

In [57]:
data['Class'].unique()

array(['10', '24', '30', '12', '5', '35', '41', '7', '42', '36', '22',
       '31', '9', '37', '44', '4', '20', '39', '28', '3', '11', '17',
       '21', '40', '33', '6', '1', '14', '15', '34', '13', '16', '26',
       '8', '25', '38', '27', '19', '29', '18', '45', '32', '2', '23',
       '0', '43', 'A', 'B', '200', 9, 20, 21, 7, 15, 29, 17, 10, 12, 1, 5,
       30, 3, 43, 34, 45, 44, 18, 25, 16, 28, 6, 35, 31, 37, 8, 2, 4, 40,
       19, 24, 38, 11, 42, 14, 41, 33, 26, 13, 32, 39, 36, 22, 23, 27, 0],
      dtype=object)

In [58]:
data=data[data['Class']!="A"]
data=data[data['Class']!="B"]
data=data[data['Class']!="200"]
data.shape

(68715, 9)

In [59]:
convert_dict = {'Class': int}
# Convert column type using the dictionary
data = data.astype(convert_dict)

In [60]:
print("Number of Unique claesses ",len(data['Class'].unique()))
data['Class'].unique()

Number of Unique claesses  46

array([10, 24, 30, 12,  5, 35, 41,  7, 42, 36, 22, 31,  9, 37, 44,  4, 20,
       39, 28,  3, 11, 17, 21, 40, 33,  6,  1, 14, 15, 34, 13, 16, 26,  8,
       25, 38, 27, 19, 29, 18, 45, 32,  2, 23,  0, 43])

In [61]:
print(data[data['Class']==0].shape)
print(data[data['Class']==200].shape)

(32, 9)
(0, 9)

In [62]:
classes = [
    "Placeholder for Concept",  # 0 index
    "Chemicals",  # Class 1
    "Paints",  # Class 2
    "Cosmetics and Cleaning Preparations",  # Class 3
    "Lubricants and Fuels",  # Class 4
    "Pharmaceuticals",  # Class 5
    "Metal Goods",  # Class 6
    "Machinery",  # Class 7
    "Hand Tools",  # Class 8
    "Electrical and Scientific Apparatus",  # Class 9
    "Medical Apparatus",  # Class 10
    "Environmental Control Apparatus",  # Class 11
    "Vehicles",  # Class 12
    "Firearms",  # Class 13
    "Jewelry",  # Class 14
    "Musical Instruments",  # Class 15
    "Paper goods and Printed Matter",  # Class 16
    "Rubber Goods",  # Class 17
    "Leather Goods",  # Class 18
    "Nonmetallic Building Materials",  # Class 19
    "Furniture and Articles not Otherwise Classified",  # Class 20
    "Housewares and Glass",  # Class 21
    "Cordage and Fibers",  # Class 22
    "Yarns and Threads",  # Class 23
    "Fabrics",  # Class 24
    "Clothing",  # Class 25
    "Fancy Goods",  # Class 26
    "Floor Coverings",  # Class 27
    "Toys and Sporting Goods",  # Class 28
    "Meats and Processed Foods",  # Class 29
    "Staple Foods",  # Class 30
    "Natural Agricultural Products",  # Class 31
    "Light Beverages",  # Class 32
    "Wine and Spirits",  # Class 33
    "Smokers’ Articles",  # Class 34
    "Advertising and Business",  # Class 35
    "Insurance and Financial",  # Class 36
    "Building Construction and Repair",  # Class 37
    "Telecommunications",  # Class 38
    "Transportation and Storage",  # Class 39
    "Treatment of Materials",  # Class 40
    "Education and Entertainment",  # Class 41
    "Computer and Scientific",  # Class 42
    "Hotels and Restaurants",  # Class 43
    "Medical, Beauty & Agricultural",  # Class 44
    "Personal",  # Class 45
]

In [63]:
class_name=[]

for a in data['Class']:
    class_name.append(classes[a])

data["Class Name"]=class_name

data["Notes"]=data["Notes"].replace({None:""})

data.head(10)

,Term ID,Class,Description,Status,Effective Date,Type,Notes,TM5,NCL Version,Class Name
0,010-859,10,Nebulizer for administering medication in the ...,M,06/04/2015,GOODS,"On 06-04-2015, this 08-07-2008 entry was amend...",NaN,"""10-2015""",Medical Apparatus
1,024-65,24,Brocade,A,04/02/1991,GOODS,06-04-2015: Brocade is a fabric woven with an ...,NaN,"""07-1997""",Fabrics
2,024-85,24,Cheviot fabric,A,04/02/1991,GOODS,06-04-2015: Cheviot fabric is a coarse woolen ...,NaN,"""07-1997""",Fabrics
3,024-152,24,Duvets,A,04/02/1991,GOODS,"06-04-2015: A duvet is a type of quilt, usuall...",T,"""07-1997""",Fabrics
4,024-1326,24,Unfitted fabric covers for vehicle seats,A,06/04/2015,GOODS,,NaN,"""10-2015""",Fabrics
5,030-1515,30,Wontons,A,06/11/2015,GOODS,,NaN,"""10-2015""",Staple Foods
6,030-1516,30,"Wontons filled with {indicate filling, e.g., m...",A,06/11/2015,GOODS,Wontons is acceptable wording; further specifi...,NaN,"""10-2015""",Staple Foods
7,012-1135,12,Fitted car seat covers,X,06/11/2015,GOODS,"On 06-11-2015, this 02-07-2013 entry ""Car seat...",NaN,"""10-2015""",Vehicles
8,012-789,12,Fitted seat covers for vehicles,X,06/11/2015,GOODS,"On 06-11-2015, this 11-15-2007 entry was amend...",NaN,"""10-2015""",Vehicles
9,005-1878,5,"Pharmaceutical preparations, namely, antivirals",X,06/11/2015,GOODS,Antivirals is acceptable wording; further spec...,NaN,"""10-2015""",Pharmaceuticals

In [64]:
print(data[data["TM5"].isnull()].shape)

data=data.drop('TM5',axis=1)

(44804, 10)

In [65]:
data.to_json('data_with_classnames.json',orient="records")
data.head(5)

,Term ID,Class,Description,Status,Effective Date,Type,Notes,NCL Version,Class Name
0,010-859,10,Nebulizer for administering medication in the ...,M,06/04/2015,GOODS,"On 06-04-2015, this 08-07-2008 entry was amend...","""10-2015""",Medical Apparatus
1,024-65,24,Brocade,A,04/02/1991,GOODS,06-04-2015: Brocade is a fabric woven with an ...,"""07-1997""",Fabrics
2,024-85,24,Cheviot fabric,A,04/02/1991,GOODS,06-04-2015: Cheviot fabric is a coarse woolen ...,"""07-1997""",Fabrics
3,024-152,24,Duvets,A,04/02/1991,GOODS,"06-04-2015: A duvet is a type of quilt, usuall...","""07-1997""",Fabrics
4,024-1326,24,Unfitted fabric covers for vehicle seats,A,06/04/2015,GOODS,,"""10-2015""",Fabrics

Pinecone Insertion

In [ ]:
from pinecone import Pinecone,ServerlessSpec

index_name='patent-recommendation-system'
pc = Pinecone(api_key=os.getenv('PINECONE_API_KEY'))

from langchain_pinecone import PineconeVectorStore

# create new index
if index_name not in pc.list_indexes().names():
    pc.create_index(
        name=index_name,
        dimension=1536,
        metric="cosine",
        spec=ServerlessSpec(cloud="aws", region="us-east-1"),
    )

In [66]:

dataset=[]
import json
with open('data_with_classnames.json', 'r') as file:
    data = json.load(file)

for a in data:
    page_content=a.pop('Description')
    dataset.append({"page_content":page_content,"metadata":a})

with open("data_set_for_insertion.json", "w") as outfile:
    json.dump(dataset, outfile)

In [ ]:
from pinecone_text.sparse import BM25Encoder

file_path="data_with_classnames.json"

with open(file_path, 'r', encoding='utf-8') as file:
    data = json.load(file)

# use default tf-idf values
bm25_encoder = BM25Encoder().default()

corpus=[]
for a in data:
    tuples=a.items()
    stri=""
    for a in tuples:
        stri=stri+" "+f"{a[0]}: {a[1]}"
    corpus.append(stri)

# fit tf-idf values on your corpus
bm25_encoder.fit(corpus)

# store the values to a json file
bm25_encoder.dump("bm25_values.json")

# load to your BM25Encoder object
bm25_encoder = BM25Encoder().load("bm25_values.json")

In [6]:
from langchain_community.retrievers import PineconeHybridSearchRetriever

index = pc.Index('patent-recommendation-system')

retriever = PineconeHybridSearchRetriever(
    embeddings=embeddings, sparse_encoder=bm25_encoder, index=index
)

In [ ]:
import json
with open('data_set_for_insertion.json', 'r') as file:
    data = json.load(file)

texts = []
metadatas = []

for entry in data:
    page_content = entry.get('page_content',)
    texts.append(page_content)
    metadata = entry.get('metadata', {})
    metadata['text'] = page_content
    metadatas.append(metadata)
retriever.add_texts(texts=texts, metadatas=metadatas)